fieldset
  border: 0
  margin: 0 0 $line-height
  position: relative
  padding: 0
fieldset fieldset
  clear: both
  margin: 0 0 $line-height
  padding: 0 0 0 $line-height

input
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  -ms-box-sizing: border-box
  box-sizing: border-box
  font-size: $font-size
  height: $line-height * 1.5
  line-height: $line-height * 1.5 - 6px
  padding: 2px 5px
  margin: 0 0 $line-height / 2

input.text
  border: 1px inset #ccc
  background: #f9f9f9
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  width: 100%

input[type=file]
  height: $line-height
  padding: 0

textarea
  // border: 1px solid #ccc
  // border-bottom-color: #eee
  // border-right-color: #eee
  border: 1px inset #ccc
  background: #f9f9f9
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  -ms-box-sizing: content-box
  box-sizing: content-box
  font-size: $font-size
  line-height: $line-height * 1.5 - 6px
  padding: 2px
  margin: 0 0 $line-height / 2
  width: 100%

select
  border: 1px solid #bbb
  border-bottom-color: #999
  border-right-color: #999
  font-size: 1em
  height: 2em
  margin: 0 0 1em
  *margin: 0 0 0.8em
  _margin: 0 0 1.3em
  padding: 0.2em 0 0
  &.full
    width: 100%
optgroup
  font-weight: 700
  font-style: normal
  text-indent: 0.2em

optgroup + optgroup
  margin-top: 1em

option
  font-size: 1em
  height: 1.5em
  padding: 0
  text-indent: 1em

label
  cursor: pointer
  display: block
  height: $line-height
  *height: auto
  margin: 0
  padding: 0
  width: 100%

label input
  vertical-align: bottom
  padding: none
  margin: 0 7px 0 0
  height: $line-height

legend
  font-size: $font-size + 2
  font-weight: 700
  left: 0
  margin: 0
  padding: 0

// some shadows
input:focus, textarea:focus, select:focus
  background: #fffde5
//   border: 1px solid #009bfe
//   box-shadow: 0 0 7px #1d478e
//   -moz-box-shadow: 0 0 7px #1d478e
//   -webkit-box-shadow: 0 0 7px #1d478e

// input, textarea, select
//   box-shadow: 0 0 3px rgba(0,0,0,0.4)
//   -moz-box-shadow: 0 0 3px rgba(0,0,0,0.4)
//   -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.4)

.field_with_errors
  label
    color: #912e2e
  input
    border: 1px solid #912e2e
    background: #fff1f1
