// Common classes - Some base classes for pretty typography, asides and messages.

.error, .alert, .notice, .success, .warning, .errorExplanation 
  border-width: 0.143em
  border-style: solid
  margin: 0 0 1.5em
  padding: 1.357em
  text-align: center

.notice
  background: #C9D7EF
  color: #1D478E
  border-color: #1D478E

.success
  background: #c0ffdd
  color: #0E532E
  border-color: #2e925c

.warning
  background: #fff0c0
  color: #ac9036
  border-color: #ac9036

.error, .alert, .errorExplanation
  background: #eee
  color: #912e2e
  border-color: #912e2e
  li
    list-style-type: none
    font-weight: bold

.fieldWithErrors input.text, .fieldWithErrors textarea 
  background: #FEEAEA
  border-color: #A20000

.fieldWithErrors label 
  color: #A20000

.quo
  font-family: Georgia, Gentium, "Times New Roman", Times, serif

.lquo
  font-family: Georgia, Gentium, "Times New Roman", Times, serif
  margin: 0 0 0 -0.55em

